name: Build and Push Docker image

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      build_id: ${{ steps.version.outputs.build_id }}
    steps:
      - uses: actions/checkout@v4
      - name: Generate BUILD_ID
        id: version
        run: |
          BUILD_ID=$(TZ=America/Los_Angeles date +"%Y%m%d-%H%M%S")
          echo "build_id=${BUILD_ID}" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'
      - run: npm ci
      - run: npm run build
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_SECRET }}
      - name: Build and push Docker image (amd64)
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/client-react:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/client-react:${{ steps.version.outputs.build_id }}
          build-args: |
            BUILD_ID=${{ steps.version.outputs.build_id }}
            NGINX_CONF=nginx.prod.conf
            VITE_API_BASE_URL=https://chat.liaizen.com
            VITE_GOOGLE_CLIENT_ID=${{ secrets.VITE_GOOGLE_CLIENT_ID }}
      - name: Clean up build artifacts
        if: always()
        run: |
          docker system prune -af --volumes
          docker buildx prune -af

